.main {
  padding: 1.2rem;
  background: #222327;
  height: 88%;
  width: 73%;
  border-radius: 15px;

  right: 5%;
  top: 8%;
  color: white;
  & input {
    background: #222327;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    height: 3rem;
    padding-left: 1.3rem;
    font-size: 0.9rem;

    width: 90%;
  }
  & p {
    font-family: poppins;
  }
  & .ans_box {
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 15px;
    background: #000000;
    height: 89%;
    color: white;
    & .msg_bubble {
      display: inline;
      background: #9681eb;
      padding: 10px;

      border-radius: 15px;
    }
    & .answer_bubble {
      display: inline;
      background: #176b87;
      padding: 10px;

      border-radius: 15px;
    }
  }
  & .msg_main_div {
    margin: 1rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;

    & .div_send_btn_container {
      color: #52525b;
    }
    & .div_send_btn_container_2 {
      color: #3b82f6;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 98%;
    height: 97%;
    border-radius: 0;
    padding: 0.7rem;
    & .ans_box {
      height: 91%;
      padding: 1.5rem;
    }

    & input {
      width: 95%;
    }
    & .div_send_btn_container {
      width: 5%;
    }
    & .div_send_btn_container_2 {
      width: 5%;
    }
  }
}
